
.container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

body {
  height: 100%;
}

#all {
  background-image: linear-gradient(rgba(29, 189, 163, 0.31), white);
}

.ui.secondary.pointing.menu {
  background-color: lightgray;
}

.ui.secondary.pointing.menu:hover {
  color: rgba(29, 189, 163, 0.31) !important;

}

.ui.secondary.pointing.menu a:hover {
  color: rgb(29, 189, 163) !important;
}

h1, h2, h3, h4, h5, h6, a, p, footer {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
}

.listContainer {
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.1) !important;
    padding: 1%;
    margin-left: 0%;
    margin-top: 2%;
    margin-bottom: 110px;
    text-align: center;
    text-decoration: none;
    flex: 1 1 25%;
}

.formContainer {
  flex: 1 1 25%;
  padding: 2%;
  border-radius: 2%;
}

.friendEditForm {
  background: rgba(0, 0, 0, 0.1) !important;
  color: rgba(0,0,0, 0.5);
  text-decoration: none;
  text-align: center;
  border-radius: 2%;
  margin-top: 1%;
}

#friendPic {
  height: 368px;
  width: 550px;
  flex: 1 1 25%;
  margin-top: 11%;
  border-radius: 15%;
}

#friendList {
  padding: 10px;
  font-size: 20px;
}

label {
  text-align: left !important;
  padding: 1%;
}

a {
  color: black !important;
}
a:hover {
  color: rgba(0, 0, 0, 0.4) !important;
}

.ui.primary.button {
  background-color: black !important;
  color: white !important;
  display: inline;
  margin: auto;
  margin-top: 5px !important;
  padding: 8px !important;
}

.ui.primary.button:hover {
  background-color: lightgray !important;
  color: black !important;
  border: 1px solid black;
}


input.ng-touched.ng-invalid.ng-empty {
    border: 1px solid red !important;
}
.error {
    color: red !important;
}

.footer {
  flex-shrink: 0;
  padding: 25px;
  background-color: lightgray;
  text-align: center;
}

.footer a {
  padding: 10px;
}
